In [2]:
import matplotlib.pyplot as plt
import pandas as pd

In [4]:
df = pd.read_csv('200511COVID19MEXICO.csv', encoding= 'latin1')

In [5]:
df.columns

Index(['FECHA_ACTUALIZACION', 'ID_REGISTRO', 'ORIGEN', 'SECTOR', 'ENTIDAD_UM',
       'SEXO', 'ENTIDAD_NAC', 'ENTIDAD_RES', 'MUNICIPIO_RES', 'TIPO_PACIENTE',
       'FECHA_INGRESO', 'FECHA_SINTOMAS', 'FECHA_DEF', 'INTUBADO', 'NEUMONIA',
       'EDAD', 'NACIONALIDAD', 'EMBARAZO', 'HABLA_LENGUA_INDIG', 'DIABETES',
       'EPOC', 'ASMA', 'INMUSUPR', 'HIPERTENSION', 'OTRA_COM',
       'CARDIOVASCULAR', 'OBESIDAD', 'RENAL_CRONICA', 'TABAQUISMO',
       'OTRO_CASO', 'RESULTADO', 'MIGRANTE', 'PAIS_NACIONALIDAD',
       'PAIS_ORIGEN', 'UCI'],
      dtype='object')

In [6]:
df_1 = df[['ENTIDAD_RES', 'FECHA_SINTOMAS', 'FECHA_DEF']]

In [7]:
df_1

        ENTIDAD_RES FECHA_SINTOMAS   FECHA_DEF
0                27     2020-03-29  9999-99-99
1                25     2020-03-22  2020-03-29
2                27     2020-03-18  2020-04-05
3                25     2020-04-04  2020-04-20
4                25     2020-04-02  2020-04-23
...             ...            ...         ...
135111            9     2020-05-09  9999-99-99
135112            4     2020-05-08  9999-99-99
135113            5     2020-05-09  9999-99-99
135114           31     2020-05-06  9999-99-99
135115           21     2020-03-28  9999-99-99

[135116 rows x 3 columns]

In [8]:
df_1 = df_1.loc[(df_1['ENTIDAD_RES'] == 26)]

In [9]:
df_1

        ENTIDAD_RES FECHA_SINTOMAS   FECHA_DEF
225              26     2020-04-07  9999-99-99
335              26     2020-04-06  9999-99-99
571              26     2020-04-08  9999-99-99
593              26     2020-04-14  9999-99-99
774              26     2020-03-13  9999-99-99
...             ...            ...         ...
135039           26     2020-05-06  9999-99-99
135046           26     2020-05-04  9999-99-99
135047           26     2020-05-03  9999-99-99
135068           26     2020-05-05  9999-99-99
135069           26     2020-05-02  9999-99-99

[2277 rows x 3 columns]

In [10]:
tabla1 = df_1.groupby(['FECHA_SINTOMAS']).agg(['count'])

In [11]:
tabla1

               ENTIDAD_RES FECHA_DEF
                     count     count
FECHA_SINTOMAS
2020-01-02               2         2
2020-01-06               3         3
2020-01-10               3         3
2020-01-11               4         4
2020-01-12               1         1
...                    ...       ...
2020-05-06              76        76
2020-05-07              53        53
2020-05-08              28        28
2020-05-09              13        13
2020-05-10               1         1

[102 rows x 2 columns]

In [12]:
tabla1.to_csv('tabla1.csv')